body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.sidebar {
  min-height: 100vh;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  transition: all 0.3s;
}
.sidebar.collapsed {
  margin-left: -250px;
}
.content {
  margin-left: 250px;
  width: calc(100% - 250px);
  transition: all 0.3s;
}
.content.expanded {
  margin-left: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .sidebar {
      margin-left: -250px;
  }
  .sidebar.active {
      margin-left: 0;
  }
  .content {
      margin-left: 0;
      width: 100%;
  }
  .content.expanded {
      margin-left: 0;
  }
}
